* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
#title{ 
  font-size: 300%;
  color: white;
  font-weight: 900;
  position: relative;
}
.info-section{
  display: block;
  z-index: 1;
  text-align: center;
}


.info:hover{
  background-color: rgb(187, 235, 227);
}
.info{
    text-align: center;
   position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 200;
    height: max-content;
    color: rgb(15, 4, 37);
    padding:1%;
    background-color: white;
    margin: 2%;
    display: inline-flex;
    height: 30%;
    
    float: left;
  }

  #first{
    margin-top: 8%;
    width:32%;
  }
  #second{
    margin-top: 8%;
    width:60%;
  }

  #third{
    margin-top: 4%;
    width:72%;
  }
  #fourth{
    margin-top: 4%;
    width:20%;
    margin-bottom: 8%;
  }


  .container {
    float: right;
    bottom: -15%;
    left: -5%;
    position: relative;
    display: flex;
    margin: 0 auto;
  }
  
  .card-wrapper {
    width: 430px;
    height: 425px;
    position: relative;
  }
  
  .card {
    position: absolute;
    width: 430px;
    height: 400px;
    transform: translate(-100%, -10%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
  }
  .card .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
  }
  .card:hover img {
    opacity: 0.4;
    transition: 0.5s;
  }
  
  .card:hover .card-image {
    transform: translateY(-100px);
    transition: all 0.9s;
  }
  
  /**** Social Icons *****/

  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
  }
  .social-icons li {
    list-style: none;
  }
  .social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 11px;
    background: linear-gradient(top right,rgb(248, 248, 24) 50%, rgb(139, 3, 139) 100%);
    background: linear-gradient(to bottom right,rgb(97, 16, 189) 10% ,rgb(240, 98, 3) 100%);
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0 6px;
    transform: translateY(200px);
    opacity: 0;
  }
  .card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
  

  .social-icons li a:hover .fab {
    color: #fff;
  }
  
  .social-icons li a .fab {
    transition: 0.1s;
  }
  .social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
  
  .card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
  }
  

  
  /**** Personal Details ****/
  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 140px;
    z-index: 1;
    padding: 20px;
  }
  .details h2 {
    margin: 10px;
    padding: 0;
    text-align: center;
  }
  .details h2 .desc {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 200;
  }
  

