
  .container{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
  }
  
  .quizContent{
    float: left;
    width: 50%;
  }
  .funFactBox{
    text-align: center;
    text-justify: center;
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color:  rgb(98, 70, 210);
    color: rgb(187, 235, 227);
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    float: right;
    width: 50%;
    top: 20%;
    margin-left: 10%;
    position: relative;
    
  }
  .content h1{
    font-size: 40px;
    font-weight: bold;
  }
  .quiz-section h3, .quiz-container h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin: 28px;
    font-weight: bold;
    color: rgb(187, 235, 227);
    }

.quiz #link{
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: rgb(187, 235, 227);
    padding: 8px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-top: 15px;
    border-radius: 5px;

}
.quiz #link:hover{
  background-color: rgba(201, 207, 212, 0.4);
}

h1{
  font-size: 38px;
  font-weight: 500;
  color: rgb(187, 235, 227);
}

.learn-section{
  background-color: white;
  display: flex;
  padding: 6%;
  margin: 7%;
  border-radius: 10px;
  width: 150%
}