{% extends "index.html" %}
{%block content%}
<link rel="stylesheet" href="../static/css/about.css">
<div class="container">
    
    <div class="card-wrapper">
      
      <div class="card">
        
        <div class="card-image">
            <img src="../static/images/aarush.jpeg" style="width: 100%; height: 100%;">
        </div>

      <ul class="social-icons">
        <li>
          <a href="https://www.instagram.com/aarush_shintre/" target="_blank">
            <i class="fa fa-instagram" id = "insta"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>
            <br>
            Aarush Shintre
          <br>
          <span class="desc"><i>Programmer </i>  | Class 11 Millenium School Pune </span>
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper --> 
    
  <div class="container">
    
    <div class="card-wrapper">
      
      <div class="card">
        
        <div class="card-image">
          <img src="../static/images/parth.jpeg" style="width: 100%; height: 100%;">
        </div>

      <ul class="social-icons">
        <li>
          <a href="https://www.instagram.com/parthsardeshmukh05/" target="_blank">
            <i class="fa fa-instagram" id = "insta"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>
            <br>
            Parth Deshmukh
          <br>
          <span class="desc"><i>Content Creator </i>  | Class 11 Kalmadi Shamrao School Pune </span> 
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper --> 
 </div>
{%endblock%}