{% extends "index.html" %}
{%block content%}
<link rel="stylesheet" href="../static/css/about.css">
<div class="aboutPage">
    
</div>
<div class="container1">
    <div class="text">
        <h2>Aarush Shintre</h2>
        <p> <i>Programmer</i> <br> <br><br>
            Hey there! I am an 11th grader at Millenium National School in Pune. <br><br>I am
            enthusiastic about coding and riding mountain bikes! 
        </p>
        <b id= "instaHandles">@aarush_shintre</b>
    </div>
    <div class="imgAbout">
        <img src="../static/images/aarush.jpeg"  style="width:100%" id="aarush">
        <div class="imgContainer">
            <h4>Aarush   </h4>
        </div>
    </div>
</div>
<br>
<div class="container2">
    <div class="text">
        <h2>Parth Sardeshmukh</h2>
        <p>  <i>Content Creator</i> <br> <br><br>
            I am in 11th grade and studying at Dr. Kalmadi Shamrao High School. <br><br>I am an
            avid bird photographer and also like road cycling
        </p>
        <b id="instaHandles">@parthsardeshmukh05</b>
    </div>
    <div class="imgAbout">
        <img src="../static/images/parth.jpeg" alt=" Parth  " style="width:100%" id="parth">
        <div class="imgContainer">
            <h4>Parth   </h4>
        </div>
    </div>
</div>

{%endblock%}