{%extends "index.html"%}
{%block content%}
<style>
    .content{
        margin-top: 2%;
        width: 100%;
        
        color: white;
        padding: 20px;
    }

    .content p{
        font-size: 20px;
        margin: 25px;
    }
    .content h1{
        font-size: 35px;
        margin: 22px;
    }
</style>
<div class="content">
    <h1>What we do</h1>
    <br>
    <p>SafeNet creates educational videos and quizzes regarding online safety, safe online banking, appropriate use of Social media and other topics relevant to our everyday digital lives. 
        We belive that in an increasingly digital world, everyone needs to have the appropriate knowledge to correctly use the internet, and utilise it to its maximum potenital without any negative experiences. 
    </p>
    <p>
        There are billions of internet users worldwide, and it's an evregrowing number. However, people with nefarious goals tend to take advantage of those who are new to the internet. There are thousands of cybercrimes reported annually, and the number is potenitaly far higher. Nowadays, with younger people online, cyber bullying is prevalent, which definetely needs to be curbed. 
    </p>
    <p>
        Our content, along with quizzes are free for all; to increase the number of people we can potentially reach, and help.
    </p>
</div>
{%endblock%}