<nav class="topnav">
<link rel="stylesheet" href="../static/css/style.css">
        <div>
            <a href= "" id = "logo"><b>SafeNet</b></a>
        </div>
            <div class="dropdown">
                <div class= "profilePicNavDiv">
                    <a href ="" class="dropbtn"><img src="../static/images/blank_profile.png" id = "profilePhotoNav" style= "height:50px;width:50px;margin:28px; float: right;"></a>
                </div>
                <div class="dropdown-content">
                    <a href="profile">Profile</a>
                    <a href="logout">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    
                </div>
              </div>  
        <a href="quiz" id = "nav">Quiz</a>
        <a href="learn" id = "nav">Courses</a>
        <a href= "loadPage" id = "nav"><b>Home</b></a>
        <script src="../static/js/icon.js"></script>
</nav>

 